<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbL3qZhCZopwR-qdv1u842nCZWzx0hSZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>533785537579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>1022294302222403</string>
	<key>PROJECT_ID</key>
	<string>ragnarok-m-a-realm-reborn-sea</string>
	<key>STORAGE_BUCKET</key>
	<string>ragnarok-m-a-realm-reborn-sea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533785537579:ios:2af7e02a5e9edfe0c84e6e</string>
</dict>
</plist>